body {
  margin: 0;
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.shopping-basket-icon {
  fill: white;
  width: 21px;
  height: 21px;
}

.header__small_menu {
  background-color: #222222;
  width: 100%;
  height: 40px;
  color: #a0a0a0;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.header__small_menu a {
  color: #a0a0a0;
  transition: 0.2s;
}
.header__small_menu a:hover {
  color: white;
}
.header__small_menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__small_menu label[for=region__select] {
  display: flex;
  align-items: center;
}
.header__small_menu label[for=region__select] .header__select__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.header__small_menu label[for=region__select] .header__select__wrapper::after {
  position: absolute;
  right: 0.5rem;
  top: 0.23rem;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 2px solid white;
  border-width: 1.5px 1.5px 0 0;
  transform: rotate(135deg);
  cursor: pointer;
}
.header__small_menu label[for=region__select] .header__select__wrapper #region__select {
  z-index: 2;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0 1em;
  padding-right: 1.5rem;
  position: relative;
  cursor: pointer;
}
.header__small_menu label[for=region__select] .header__select__wrapper #region__select option {
  color: black;
}
.header__small_menu .header__small_menu__links {
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.header__main {
  font-family: "Roboto", sans-serif;
  min-height: 100px;
  border-bottom: 1px solid #222222;
  display: flex;
  align-items: center;
}
.header__main a {
  color: #222222;
}
.header__main .container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
}
.header__main .menu__button {
  display: none;
}
.header__main .header__phone {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  column-gap: 20%;
  box-sizing: border-box;
}
.header__main .header__phone a {
  font-size: 18px;
  padding: 0;
  line-height: 213.6%;
}
.header__main .header__phone p {
  color: #828282;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.header__main .header__phone .header__phone_request {
  font-size: 14px;
  transition: 0.2s;
  grid-column: 2;
  grid-row: 1;
  display: inline-block;
  padding: 0;
  line-height: 0;
  align-self: flex-end;
}
.header__main .header__phone .header__phone_request:hover {
  color: #828282;
}
.header__main .header__logo {
  height: 100%;
  justify-self: center;
  display: flex;
  align-items: center;
}
.header__main .header__main_buttons {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  color: #a0a0a0;
  font-size: 12px;
}
.header__main .header__main_buttons > div {
  display: grid;
  grid-template-rows: 60% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
  margin-left: 85px;
  padding: 10px;
}
.header__main .header__main_buttons > div button {
  justify-self: center;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__main .header__main_buttons > div span {
  justify-self: center;
  cursor: default;
}
.header__main .header__main_buttons > div .header__button {
  background-color: #F94877;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 50px;
  transition: 0.2s;
}
.header__main .header__main_buttons > div .header__button * {
  width: 21px;
  height: 21px;
}
.header__main .header__main_buttons > div .header__button:hover {
  background-color: #FC104F;
}

.header__navigation_menu {
  border-bottom: 1px solid #222222;
}
.header__navigation_menu .navigation__menu_close_button {
  display: none;
}
.header__navigation_menu ul {
  min-height: 58px;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.header__navigation_menu ul li {
  text-transform: uppercase;
}
.header__navigation_menu ul li a {
  color: #222222;
  transition: 0.2s;
}
.header__navigation_menu ul li a:hover {
  color: #828282;
}

main {
  margin-top: 30px;
}

.main__banner {
  width: 84%;
  margin: 0 auto;
  background-color: white;
  position: relative;
}
.main__banner .main__banner_wrapper {
  width: calc(100% - 60px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.main__banner .banner__slide_state {
  display: flex;
  position: absolute;
  z-index: 18;
  bottom: 40px;
  left: 50%;
}
.main__banner .banner__current_state {
  display: block;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main__banner .banner__current_state:hover {
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.85;
}
.main__banner .banner__state_active {
  background-color: #F94877;
}
.main__banner .banner__state_active:hover {
  background-color: #F94877 !important;
}
.main__banner .container {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  display: flex;
  transition: transform 0.6s ease;
}
.main__banner .banner__arrows {
  width: calc(100% - 20px);
  height: 100%;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__banner .banner__arrows img {
  cursor: pointer;
}
.main__banner .banner__item {
  flex: 0 0 100%;
  max-width: 130%;
}
.main__banner .banner__item .banner__item_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
}
.main__banner .banner__item img {
  height: calc(330px - 10%);
  padding: 0 14px;
}
.main__banner .banner__item p {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 59px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 50px;
}
.main__banner .banner__slide_1 {
  background-color: #BCBC40;
}
.main__banner .banner__slide_2 {
  background-color: #bc7e40;
}
.main__banner .banner__slide_3 {
  background-color: #7ebc40;
}

.main__products {
  background-color: #FFFFFF;
  width: 84%;
  margin: 30px auto 0;
}
.main__products .container {
  display: flex;
  width: calc(100% - 60px);
  flex-direction: column;
}
.main__products .container header {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 30px;
}
.main__products .container header h2 {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  padding: 30px 0 10px;
  position: relative;
}
.main__products .container header h2::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 63px;
}
.main__products .main__products_slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding-bottom: 30px;
  position: relative;
}
.main__products .main__products_slider > img {
  position: absolute;
  z-index: 12;
  top: calc(100% - 20rem);
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
}
.main__products .main__products_slider > img:last-of-type {
  right: 0;
}
.main__products .main__products_slider > img:hover {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.main__products .main__products_slider .main_product {
  min-height: 434px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.main__products .main__products_slider .main_product .main__product__inner {
  justify-self: center;
  background-color: white;
  box-sizing: border-box;
}
.main__products .main__products_slider .main_product .main__product__inner:hover {
  width: calc(100% + 40px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: white;
  z-index: 10;
}
.main__products .main__products_slider .main_product .main__product_type {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__products .main__products_slider .main_product .main__product_type p {
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
}
.main__products .main__products_slider .main_product .main__product_type span {
  display: inline-block;
  align-self: flex-start;
  color: white;
  background-color: black;
  padding: 5px 18px;
}
.main__products .main__products_slider .main_product .main__slider_price_action {
  border-top: 2px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
}
.main__products .main__products_slider .main_product .main__slider_price_action .main__slider_price {
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.main__products .main__products_slider .main_product .main__slider_price_action .main__slider_price .price__discount {
  font-weight: 400;
  text-decoration: line-through;
}
.main__products .main__products_slider .main_product .main__slider_price_action .main__slider_price .price__discount + span {
  color: #F44336;
}
.main__products .main__products_slider .main_product .main__slider_price_action button {
  appearance: none;
  background-color: #F94877;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
}
.main__products .main__products_slider .main_product .main__slider_price_action button:hover {
  background-color: #FC104F;
}
.main__products .main__products_slider .main_product .main__slider_price_action button svg {
  padding-right: 10px;
}
.main__products .main__products_slider .main_product .main__slider_price_action button path {
  font-size: 10px;
}

.main__our_brands {
  width: 84%;
  background-color: white;
  margin: 30px auto 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.main__our_brands .container {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}
.main__our_brands .main__brands_header {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  padding: 30px 0 10px 0;
}
.main__our_brands .main__brands_header h2 {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  color: #222222;
  padding: 0;
  margin: 0;
  position: relative;
}
.main__our_brands .main__brands_header h2::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 33px;
  z-index: 10;
}
.main__our_brands .main__brands {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}
.main__our_brands .main__brands img {
  transition: 0.2s;
  cursor: pointer;
}
.main__our_brands .main__brands img:hover {
  opacity: 0.6;
}

footer {
  width: 100%;
  background-color: white;
  margin-top: 40px;
  position: relative;
}
footer .container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 0 10px;
}
footer .footer__top {
  display: flex;
  justify-content: space-between;
}
footer .footer__top .footer__product_types__navigation ul {
  min-height: 58px;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 60px;
  height: 300px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
footer .footer__top .footer__product_types__navigation ul li {
  text-transform: uppercase;
  padding: 10px 0;
}
footer .footer__top .footer__product_types__navigation ul li a {
  color: #222222;
  transition: 0.2s;
}
footer .footer__top .footer__product_types__navigation ul li a:hover {
  color: #828282;
}
footer .footer__top .footer__info {
  margin-left: 150px;
}
footer .footer__top .footer__info ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
footer .footer__top .footer__info ul li {
  padding: 5px;
}
footer .footer__top .footer__info ul li a {
  color: #222222;
  transition: 0.2s;
}
footer .footer__top .footer__info ul li a:hover {
  color: #828282;
}
footer .footer__contacts .footer__phone {
  font-family: "Roboto", sans-serif;
  padding-bottom: 35px;
}
footer .footer__contacts .footer__phone a {
  color: black;
  font-size: 20px;
}
footer .footer__contacts .footer__phone p {
  color: #828282;
  font-size: 12px;
}
footer .footer__contacts .footer__request_phone {
  color: black;
  font-size: 14px;
  padding: 7px 33px;
  border: 1px solid #F94877;
  transition: 0.2s;
}
footer .footer__contacts .footer__request_phone:hover {
  color: #F94877;
}
footer .footer__payment_type p {
  font-size: 14px;
  color: #828282;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
footer .footer__payment_type .payment__types {
  width: 100%;
  display: flex;
}
footer .footer__payment_type .payment__types img {
  width: 25%;
  height: 35%;
}
footer .footer__payment_type .payment__types img:last-child {
  margin-left: 50px;
}
footer .footer__bottom {
  margin-top: 20px;
}
footer .footer__bottom .footer__copyrights {
  color: #828282;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
footer .footer__bottom .footer__copyrights a {
  color: #F94877;
}

.navigate__top {
  position: absolute;
  right: 70px;
  top: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: auto;
  }

  body {
    font-size: 0.4rem !important;
  }

  .header__small_menu {
    display: none;
  }

  .header__main {
    min-height: 60px !important;
  }
  .header__main .container {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    grid-template-rows: 100% !important;
  }
  .header__main .header__logo {
    order: -1;
    justify-self: center;
    align-self: center;
    align-items: flex-end;
  }
  .header__main .header__logo img {
    width: calc(100% - 10px);
  }
  .header__main .header__phone {
    column-gap: 0;
    justify-self: center;
    grid-template-columns: 100% !important;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
  .header__main .header__phone_request {
    grid-row: auto !important;
    grid-column: auto !important;
    display: block;
    align-self: flex-start !important;
  }
  .header__main .header__phone p {
    display: none;
  }
  .header__main .menu__button {
    display: block !important;
    height: 30px;
    width: 40px;
    padding: 0 40px 0 20px;
    box-sizing: content-box;
    align-self: center;
  }
  .header__main .menu__button path {
    fill: black;
  }
  .header__main .header__main_buttons {
    align-items: center !important;
    justify-content: space-around !important;
  }
  .header__main .header__main_buttons > div {
    margin: 0;
    grid-template-rows: 100% !important;
  }
  .header__main .header__main_buttons span {
    display: none;
  }

  .header__navigation_menu {
    width: 50%;
    display: inline-block;
    border-bottom: none;
    box-shadow: -2px 4px 10px 2px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 20;
    background-color: white;
    transform: translateX(-110%);
    transition: 0.5s;
    top: 0;
  }
  .header__navigation_menu .container {
    padding: 2em;
  }
  .header__navigation_menu .navigation__menu_close_button_wrapper {
    width: 90%;
    display: flex;
    margin: 0.4em auto;
    justify-content: flex-end;
  }
  .header__navigation_menu .navigation__menu_close_button_wrapper button {
    appearance: none;
    display: flex;
    background-color: #F94877;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    color: white;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    padding: 1em 0.7em;
    line-height: 0;
  }
  .header__navigation_menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header__navigation_menu ul li {
    margin: 0.5em 0;
    font-size: 1.2rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
  }

  .main__banner {
    width: 100%;
  }
  .main__banner .container {
    width: 100%;
    padding: 30px 0;
  }
  .main__banner .banner__arrows {
    width: 100%;
    left: 0;
  }
  .main__banner .main__banner_wrapper {
    width: 100%;
  }
  .main__banner .main__banner_wrapper .banner__item {
    flex: 0 0 100%;
    width: 100%;
  }
  .main__banner .main__banner_wrapper .banner__item img {
    height: 20%;
  }

  .main__products {
    width: 100% !important;
  }
  .main__products .container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }
  .main__products .main__products_slider {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px !important;
    row-gap: 50px;
  }
  .main__products .main__products_slider .main_product {
    width: calc(50% - 32px);
  }
  .main__products .main__products_slider .main__slider_price_action button svg {
    width: 32px;
  }
  .main__products .main__products_slider__arrows {
    display: none !important;
  }

  .main__our_brands {
    width: 100% !important;
  }
  .main__our_brands .container {
    width: 100%;
    padding: 6px 16px 16px;
    box-sizing: border-box;
  }
  .main__our_brands .main__brands {
    flex-direction: column !important;
    justify-content: space-between;
    padding: 0;
  }
  .main__our_brands .main__brands img {
    width: auto;
    margin: 2em auto;
  }

  footer .container {
    width: 100%;
    padding: 16px;
  }
  footer .container a {
    font-size: 14px;
  }
  footer .footer__top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  footer .footer__top .footer__contacts {
    grid-column: 1;
    grid-row: 2;
  }
  footer .footer__top .footer__info {
    margin: 0;
  }
  footer .footer__top .footer__payment_type img {
    margin-top: 10px;
  }
}
