body {
  margin: 0;
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.shopping-basket-icon {
  fill: white;
  width: 21px;
  height: 21px;
}

.header__small_menu {
  background-color: #222222;
  width: 100%;
  height: 40px;
  color: #a0a0a0;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.header__small_menu a {
  color: #a0a0a0;
  transition: 0.2s;
}
.header__small_menu a:hover {
  color: white;
}
.header__small_menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__small_menu label[for=region__select] {
  display: flex;
  align-items: center;
}
.header__small_menu label[for=region__select] .header__select__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.header__small_menu label[for=region__select] .header__select__wrapper::after {
  position: absolute;
  right: 0.5rem;
  top: 0.23rem;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 2px solid white;
  border-width: 1.5px 1.5px 0 0;
  transform: rotate(135deg);
  cursor: pointer;
}
.header__small_menu label[for=region__select] .header__select__wrapper #region__select {
  z-index: 2;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0 1em;
  padding-right: 1.5rem;
  position: relative;
  cursor: pointer;
}
.header__small_menu label[for=region__select] .header__select__wrapper #region__select option {
  color: black;
}
.header__small_menu .header__small_menu__links {
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.header__main {
  font-family: "Roboto", sans-serif;
  min-height: 100px;
  border-bottom: 1px solid #222222;
  display: flex;
  align-items: center;
}
.header__main a {
  color: #222222;
}
.header__main .container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
}
.header__main .menu__button {
  display: none;
}
.header__main .header__phone {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  column-gap: 20%;
  box-sizing: border-box;
}
.header__main .header__phone a {
  font-size: 18px;
  padding: 0;
  line-height: 213.6%;
}
.header__main .header__phone p {
  color: #828282;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.header__main .header__phone .header__phone_request {
  font-size: 14px;
  transition: 0.2s;
  grid-column: 2;
  grid-row: 1;
  display: inline-block;
  padding: 0;
  line-height: 0;
  align-self: flex-end;
}
.header__main .header__phone .header__phone_request:hover {
  color: #828282;
}
.header__main .header__logo {
  height: 100%;
  justify-self: center;
  display: flex;
  align-items: center;
}
.header__main .header__main_buttons {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  color: #a0a0a0;
  font-size: 12px;
}
.header__main .header__main_buttons > div {
  display: grid;
  grid-template-rows: 60% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
  margin-left: 85px;
  padding: 10px;
}
.header__main .header__main_buttons > div button {
  justify-self: center;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__main .header__main_buttons > div span {
  justify-self: center;
  cursor: default;
}
.header__main .header__main_buttons > div .header__button {
  background-color: #F94877;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 50px;
  transition: 0.2s;
}
.header__main .header__main_buttons > div .header__button * {
  width: 21px;
  height: 21px;
}
.header__main .header__main_buttons > div .header__button:hover {
  background-color: #FC104F;
}

.header__navigation_menu {
  border-bottom: 1px solid #222222;
}
.header__navigation_menu .navigation__menu_close_button {
  display: none;
}
.header__navigation_menu ul {
  min-height: 58px;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.header__navigation_menu ul li {
  text-transform: uppercase;
}
.header__navigation_menu ul li a {
  color: #222222;
  transition: 0.2s;
}
.header__navigation_menu ul li a:hover {
  color: #828282;
}

main {
  margin-top: 30px;
}

.main__banner {
  width: 84%;
  margin: 0 auto;
  background-color: white;
  position: relative;
}
.main__banner .main__banner_wrapper {
  width: calc(100% - 60px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.main__banner .main__banner_wrapper .swiper-pagination {
  margin-bottom: 1.8rem;
  z-index: 25;
}
.main__banner .main__banner_wrapper .swiper-pagination-bullet {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.main__banner .main__banner_wrapper .swiper-pagination-bullet-active {
  background-color: #FC104F;
}
.main__banner .banner__slide_state {
  display: flex;
  position: absolute;
  z-index: 18;
  bottom: 40px;
  left: 50%;
}
.main__banner .container {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  display: flex;
  transition: transform 0.6s ease;
}
.main__banner .banner__arrows {
  width: calc(100% - 20px);
  height: 100%;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__banner .banner__arrows img {
  cursor: pointer;
}
.main__banner .banner__item {
  display: flex;
  justify-content: center;
}
.main__banner .banner__item .banner__item_inner {
  max-width: 100%;
  display: grid;
  grid-template: 1fr/repeat(4, 25%);
  column-gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  padding: 0 5%;
  box-sizing: border-box;
}
.main__banner .banner__item img {
  max-width: 100%;
  justify-self: end;
}
.main__banner .banner__item p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  word-break: break-word;
  line-height: 3rem;
  font-weight: 400;
  align-self: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}
.main__banner .banner__slide_1 {
  background-color: #BCBC40;
}
.main__banner .banner__slide_2 {
  background-color: #bc7e40;
}
.main__banner .banner__slide_3 {
  background-color: #7ebc40;
}

.main__products {
  background-color: #FFFFFF;
  width: 84%;
  margin: 30px auto 0;
}
.main__products .container {
  display: flex;
  width: calc(100% - 60px);
  flex-direction: column;
}
.main__products .container header {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 30px;
}
.main__products .container header h2 {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  padding: 30px 0 10px;
  position: relative;
}
.main__products .container header h2::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 63px;
}
.main__products .main__products_slider {
  position: relative;
  padding-bottom: 30px;
}
.main__products .main__products_slider .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 15.5%);
  column-gap: 1rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  position: relative;
}
.main__products .main__products_slider > img {
  position: absolute;
  z-index: 12;
  top: calc(100% - 20rem);
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
}
.main__products .main__products_slider > img:last-of-type {
  right: 0;
}
.main__products .main__products_slider > img:hover {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.main__products .main__products_slider .main_product {
  padding: 0.5rem;
  min-height: 434px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.main__products .main__products_slider .main_product:hover {
  box-shadow: 0 0 30px 1px rgba(97, 96, 96, 0.3);
  transform: scale(1.1);
  z-index: 5;
}
.main__products .main__products_slider .main_product .main__product__inner {
  justify-self: center;
  background-color: white;
  box-sizing: border-box;
}
.main__products .main__products_slider .main_product .main__product_type {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__products .main__products_slider .main_product .main__product_type p {
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
}
.main__products .main__products_slider .main_product .main__product_type span {
  display: inline-block;
  align-self: flex-start;
  color: white;
  background-color: black;
  padding: 5px 18px;
}
.main__products .main__products_slider .main_product .main__slider_price_action {
  border-top: 2px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
}
.main__products .main__products_slider .main_product .main__slider_price_action .main__slider_price {
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.main__products .main__products_slider .main_product .main__slider_price_action .main__slider_price .price__discount {
  font-weight: 400;
  text-decoration: line-through;
}
.main__products .main__products_slider .main_product .main__slider_price_action .main__slider_price .price__discount + span {
  color: #F44336;
}
.main__products .main__products_slider .main_product .main__slider_price_action button {
  appearance: none;
  background-color: #F94877;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
}
.main__products .main__products_slider .main_product .main__slider_price_action button:hover {
  background-color: #FC104F;
}
.main__products .main__products_slider .main_product .main__slider_price_action button svg {
  padding-right: 10px;
}
.main__products .main__products_slider .main_product .main__slider_price_action button path {
  font-size: 10px;
}

.main__our_brands {
  width: 84%;
  background-color: white;
  margin: 30px auto 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.main__our_brands .container {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}
.main__our_brands .main__brands_header {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  padding: 30px 0 10px 0;
}
.main__our_brands .main__brands_header h2 {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  color: #222222;
  padding: 0;
  margin: 0;
  position: relative;
}
.main__our_brands .main__brands_header h2::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 33px;
  z-index: 10;
}
.main__our_brands .main__brands {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}
.main__our_brands .main__brands img {
  transition: 0.2s;
  cursor: pointer;
}
.main__our_brands .main__brands img:hover {
  opacity: 0.6;
}

footer {
  width: 100%;
  background-color: white;
  margin-top: 40px;
  position: relative;
}
footer .container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 0 10px;
}
footer .footer__top {
  display: flex;
  justify-content: space-between;
}
footer .footer__top .footer__product_types__navigation ul {
  min-height: 58px;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 60px;
  height: 300px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
footer .footer__top .footer__product_types__navigation ul li {
  text-transform: uppercase;
  padding: 10px 0;
}
footer .footer__top .footer__product_types__navigation ul li a {
  color: #222222;
  transition: 0.2s;
}
footer .footer__top .footer__product_types__navigation ul li a:hover {
  color: #828282;
}
footer .footer__top .footer__info {
  margin-left: 150px;
}
footer .footer__top .footer__info ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
footer .footer__top .footer__info ul li {
  padding: 5px;
}
footer .footer__top .footer__info ul li a {
  color: #222222;
  transition: 0.2s;
}
footer .footer__top .footer__info ul li a:hover {
  color: #828282;
}
footer .footer__contacts .footer__phone {
  font-family: "Roboto", sans-serif;
  padding-bottom: 35px;
}
footer .footer__contacts .footer__phone a {
  color: black;
  font-size: 20px;
}
footer .footer__contacts .footer__phone p {
  color: #828282;
  font-size: 12px;
}
footer .footer__contacts .footer__request_phone {
  color: black;
  font-size: 14px;
  padding: 7px 33px;
  border: 1px solid #F94877;
  transition: 0.2s;
}
footer .footer__contacts .footer__request_phone:hover {
  color: #F94877;
}
footer .footer__payment_type p {
  font-size: 14px;
  color: #828282;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
footer .footer__payment_type .payment__types {
  width: 100%;
  display: flex;
}
footer .footer__payment_type .payment__types img {
  width: 25%;
  height: 35%;
}
footer .footer__payment_type .payment__types img:last-child {
  margin-left: 50px;
}
footer .footer__bottom {
  margin-top: 20px;
}
footer .footer__bottom .footer__copyrights {
  color: #828282;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
footer .footer__bottom .footer__copyrights a {
  color: #F94877;
}

.navigate__top {
  position: absolute;
  right: 70px;
  top: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__phone {
    display: none !important;
  }

  .header__main_buttons > div {
    grid-template-rows: auto !important;
  }
  .header__main_buttons span {
    display: none;
  }

  .menu__button {
    display: inline-block !important;
    width: 2rem;
    justify-self: center;
    transition: all 0.3s ease-in-out;
  }

  .header__navigation_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
    z-index: 30;
    top: 0;
    transform: translateY(-120%);
    transition: all 0.5s ease-in-out;
  }
  .header__navigation_menu .navigation__menu_close_button_wrapper {
    width: 95%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: flex-end;
    padding: 1rem 0 0.5rem;
  }
  .header__navigation_menu .navigation__menu_close_button_wrapper .navigation__menu_close_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.05);
    appearance: none;
    border: 1px solid rgba(249, 72, 119, 0.7);
    cursor: pointer;
    border-radius: 50px;
    padding: 0.2rem;
    transition: all 0.3s ease-in-out;
  }
  .header__navigation_menu .navigation__menu_close_button_wrapper .navigation__menu_close_button:hover {
    border-color: #F94877;
    color: white;
    background-color: #F94877;
  }

  .main__banner .banner__item {
    padding: 1.5rem 0;
    box-sizing: border-box;
  }
  .main__banner .banner__item p {
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
  }
}
@media screen and (max-width: 950px) {
  .container {
    width: 95% !important;
  }

  #header .header__small_menu .header__small_menu__links {
    width: auto;
    column-gap: 1rem;
  }
  #header .header__main .container {
    grid-template-columns: auto auto auto;
  }
  #header .header__main .header__phone {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 50%);
  }
  #header .header__main .header__phone .header__phone_request {
    display: none;
  }

  main .main__banner {
    width: 100%;
  }
  main .main__banner_wrapper {
    width: 100%;
  }
  main .main__banner .banner__item {
    width: 100%;
  }
  main .main__banner .container {
    width: 100% !important;
  }
  main .main__products {
    width: 100%;
  }
  main .main__products .container {
    width: 95% !important;
    padding: 0;
  }
  main .main__products_slider > img {
    display: none;
  }
  main .main__products .swiper-wrapper {
    grid-template-columns: repeat(2, calc(50% - 1rem)) !important;
    row-gap: 1.5rem;
    display: flex;
  }
  main .main__our_brands {
    width: 100%;
  }

  .main__our_brands .main__brands {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 1rem;
  }
  .main__our_brands .main__brands > img {
    justify-self: center;
  }
}
@media screen and (max-width: 1050px) {
  #header .header__main_buttons {
    display: flex;
    column-gap: 10%;
  }
  #header .header__main_buttons > div {
    margin: 0;
  }
  #header .header__navigation_menu ul {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    grid-template-rows: repeat(2, auto);
    padding: 1rem 0;
  }

  .main__banner .banner__item_inner p {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }

  footer .footer__top {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  footer .footer__top .footer__product_types__navigation ul {
    word-break: break-all;
    height: 250px;
  }
  footer .footer__top .footer__product_types__navigation ul li {
    padding: 0.5rem 0 !important;
  }
  footer .footer__top .footer__info {
    grid-row: 2/3;
    grid-column: 1;
    margin: 0;
  }
  footer .footer__top .footer__info li {
    padding: 0.2rem 0 !important;
  }
  footer .footer__top .footer__contacts {
    display: inline-block;
    justify-self: center;
  }
  footer .footer__top .footer__contacts .footer__phone {
    padding-bottom: 1.5rem;
  }
  footer .footer__top .footer__payment_type {
    justify-self: center;
  }
  footer .footer__top .footer__payment_type .payment__types {
    align-items: center;
    justify-content: flex-start;
  }

  .navigate__top {
    display: none;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1300px) {
  .main__products .container {
    width: 95% !important;
  }
  .main__products .container .swiper-wrapper {
    grid-template-columns: repeat(3, 30%) !important;
    grid-template-rows: repeat(2, 50%) !important;
    justify-content: space-between;
  }
  .main__products_slider > img {
    display: none;
  }
}
@media screen and (min-width: 950px) and (max-width: 1300px) {
  .container {
    width: 95% !important;
  }

  main .main__banner {
    width: 100%;
  }
  main .main__banner_wrapper {
    width: 100%;
  }
  main .main__banner .banner__item {
    width: 100%;
  }
  main .main__banner .container {
    width: 100% !important;
  }
  main .main__products {
    width: 100%;
  }
  main .main__products .container {
    width: 95% !important;
    padding: 0;
  }
  main .main__products_slider > img {
    display: none;
  }
  main .main__products .swiper-wrapper {
    grid-template-columns: repeat(3, 30%) !important;
    grid-template-rows: repeat(2, 50%) !important;
    align-items: center;
    justify-content: space-between;
  }
  main .main__our_brands {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .header__main_buttons {
    flex-direction: column-reverse !important;
    row-gap: 0.5rem;
    padding: 1rem 0;
    justify-content: center !important;
  }

  .main__products .swiper-wrapper {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .main__products .main_product {
    max-width: 85% !important;
  }

  .main__brands {
    grid-template-columns: auto !important;
  }
  .main__brands img {
    width: auto;
  }
}
@media screen and (max-width: 575px) {
  .header__navigation_menu ul {
    grid-template-columns: repeat(2, 50%) !important;
  }

  .header__main_buttons {
    column-gap: 10% !important;
  }
  .header__main_buttons > div {
    padding: 0 !important;
  }

  .main__banner > div {
    width: 100% !important;
  }
  .main__banner .banner__arrows {
    display: none;
  }
  .main__banner .banner__item p {
    font-size: 0.9rem !important;
  }

  footer .footer__top {
    row-gap: 1rem;
  }
  footer .footer__product_types__navigation ul {
    height: auto !important;
  }
  footer .footer__product_types__navigation ul li {
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 360px) {
  .header__main .container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    padding: 0.5rem 0;
  }
  .header__main .container .header__logo {
    grid-column: 1/4;
    grid-row: 1;
  }
  .header__main .container .header__main_buttons {
    grid-column: 2/4;
    flex-direction: row !important;
  }

  .main__banner .banner__item img {
    max-width: 85%;
  }
  .main__banner .banner__item p {
    font-size: 0.7rem !important;
    line-height: 1rem !important;
  }

  footer .footer__request_phone {
    font-size: 0.75rem !important;
    padding: 0.5rem 1rem !important;
  }
}
@media screen and (max-width: 270px) {
  footer .footer__request_phone {
    font-size: 0.6rem !important;
    padding: 0.5rem !important;
  }
}
