@import "_variables";

@media screen and (max-width: 768px ) {
    .header__phone{
        display: none!important;
    }

    .header__main_buttons{

        & > div{
            grid-template-rows: auto!important
        }

        span{
            display: none;
        }
    }

    .menu__button{
        display: inline-block!important;
        width: 2rem;
        justify-self: center;

        transition: all .3s ease-in-out;
    }

    .header__navigation_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        background-color: white;
        width: 100%;
        border: none;
        box-shadow: 0 0 20px 1px rgba(black, .2);
        z-index: 30;
        top: 0;
        transform: translateY(-120%);

        transition: all .5s ease-in-out;

        .navigation__menu_close_button_wrapper{
            width: 95%;
            margin: 0 auto;
            display: inline-flex;
            justify-content: flex-end;
            padding: 1rem 0 .5rem;

            .navigation__menu_close_button{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(grey, .05);
                appearance: none;
                border: 1px solid rgba(#F94877, .7);
                cursor: pointer;
                border-radius: 50px;
                padding: .2rem;

                transition: all .3s ease-in-out;

                &:hover{
                    border-color: #F94877;
                    color: white;
                    background-color: #F94877;
                }
            }
        }
    }

    .main__banner{

        .banner__item{

            padding: 1.5rem 0;
            box-sizing: border-box;

            p{
                font-size: 1.2rem!important;
                line-height: 1.5rem!important;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .container{
        width: 95%!important;
    }

    #header{
        .header__small_menu{
            
            .header__small_menu__links{
                width: auto;
                column-gap: 1rem;
            }
        }

        .header__main{
            
            .container{
                grid-template-columns: auto auto auto;
            }
            
            .header__phone{
                grid-template-columns: auto;
                grid-template-rows: repeat(2, 50%);
                
                .header__phone_request{
                    display: none;
                }
            }
        }
    }
    
    main{
        .main__banner{
            width: 100%;

            &_wrapper{
                width: 100%;
            }

            .banner__item{
                width: 100%;
            }

            .container{
                width: 100%!important;
            }
        }

        .main__products{
            width: 100%;

            .container{
                width: 95%!important;
                padding: 0;
            }

            &_slider{
                
                & > img{
                    display: none;
                }
            }

            .swiper-wrapper{
                grid-template-columns: repeat(2, calc(50% - 1rem))!important;
                row-gap: 1.5rem;
                display: flex;
            }
        }

        .main__our_brands{
            width: 100%;
        }
    }
    
    .main__our_brands{

        .main__brands{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
            row-gap: 1rem;

            & > img{
                justify-self: center;
            }
        }
    }
}

@media screen and (max-width: 1050px){
    #header{
        
        .header__main{

            &_buttons{
                display: flex;
                column-gap: 10%;

                & > div{
                    margin: 0;
                }
            }
        }

        .header__navigation_menu{

            ul{
                display: grid;
                align-items: center;
                grid-template-columns: auto auto auto auto;
                gap: .5rem;
                grid-template-rows: repeat(2, auto);
                padding: 1rem 0;
            }
        }
    }

    .main__banner{

        .banner__item_inner{
            
            p{
                line-height: 2.5rem;
                font-size: 1.5rem;
            }
        }
    }

    footer{
        
        .footer__top{
            display: grid;
            grid-template-columns: repeat(2, 50%);

            .footer__product_types__navigation{

                ul{
                    word-break: break-all;
                    height: 250px;

                    li{
                        padding: .5rem 0!important;
                    }
                }
            }

            .footer__info{
                grid-row: 2/3;
                grid-column: 1;

                margin: 0;

                li{
                    padding: .2rem 0!important;
                    
                }
            }

            .footer__contacts{
                display: inline-block;
                justify-self: center;

                .footer__phone{
                    padding-bottom: 1.5rem;
                }
            }  
            
            .footer__payment_type{
                justify-self: center;

                .payment__types{
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
    }

    .navigate__top{
        display: none;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1300px){
    .main__products{

        .container{
            width: 95%!important;

            .swiper-wrapper{
                grid-template-columns: repeat(3, 30%)!important;
                grid-template-rows: repeat(2, 50%)!important;
                justify-content: space-between;
            }

        }
        &_slider{
    
            & > img{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 950px) and (max-width: 1300px){
    .container{
        width: 95%!important;
    }

    main{
        .main__banner{
            width: 100%;

            &_wrapper{
                width: 100%;
            }

            .banner__item{
                width: 100%;
            }

            .container{
                width: 100%!important;
            }
        }

        .main__products{
            width: 100%;

            .container{
                width: 95%!important;
                padding: 0;
            }

            &_slider{
                
                & > img{
                    display: none;
                }
            }

            .swiper-wrapper{
                grid-template-columns: repeat(3, 30%)!important;
                grid-template-rows: repeat(2, 50%)!important;
                align-items: center;
                justify-content: space-between;
            }
        }

        .main__our_brands{
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px){
    .header__main_buttons{
        flex-direction: column-reverse!important;
        row-gap: .5rem;
        padding: 1rem 0;
        justify-content: center!important;
    }

    .main__products{
        
        .swiper-wrapper{
            display: flex!important;
            flex-direction: column;
            align-items: center;
        }

        .main_product{
            max-width: 85%!important;
        }
    }

    .main__brands{
        grid-template-columns: auto!important;

        img{
            width: auto
        }
    }
}

@media screen and (max-width: 575px) {
    .header__navigation_menu{

        ul{
            grid-template-columns: repeat(2, 50%)!important;
        }
    }

    .header__main_buttons{
        column-gap: 10%!important;

        & > div{
             padding: 0!important;
        }
    }

    .main__banner{

        & > div{ 
            width: 100%!important;
        }

        .banner__arrows{
            display: none;
        }

        .banner__item{

            p{
                font-size: .9rem!important;
            }
        }
    }

    footer{
        .footer__top{
            row-gap: 1rem;
        }

        .footer__product_types__navigation{
            
            ul{
                height: auto!important;

                li{
                    padding: .5rem 0;
                    font-size: .9rem;
                }
            }
        }
    }
}



@media screen and (max-width: 360px) {
    .header__main{

        .container{
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);
            padding: .5rem 0;

            .header__logo{
                grid-column: 1/4;
                grid-row: 1;
            }

            .header__main_buttons{
                grid-column: 2/4;
                flex-direction: row!important;
            }
        }
    }

    .main__banner{
    
        
        .banner__item{

            img{
                max-width: 85%
            }
            
            p{
                font-size: .7rem!important;
                line-height: 1rem!important;
            }
        }
    }

    footer{

        .footer__request_phone{
            font-size: .75rem!important;
            padding: .5rem 1rem!important;
        }
    }
}


@media screen and (max-width: 270px){

    footer{

        .footer__request_phone{
            font-size: .6rem!important;
            padding: .5rem!important;
        }
    }
}