@import "_variables";

// iPad Mini responsive

@media screen and (max-width: 768px )  {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: auto;
    }

    body{
        font-size: .4rem!important;
    }

    .header__small_menu{
        display:none;
    }

    .header__main{
        min-height: 60px!important;
    
        .container{
            width:100%;
            margin: 0;
            justify-content: center;
            align-items: center;

            grid-template-rows: 100%!important;
        }

        .header__logo{
            order: -1;
            justify-self: center;
            align-self: center;
            align-items: flex-end;

            img{
                width: calc(100% - 10px);
            }
        }

        .header__phone{
            column-gap: 0;
            justify-self: center;

            grid-template-columns: 100%!important;
            grid-template-rows: 50% 50%;
            justify-content: center;
            align-items: center;

            row-gap: 10px;
        }

        .header__phone_request{
            grid-row: auto!important;
            grid-column: auto!important;
            display: block;
            align-self: flex-start!important;
        }

        .header__phone{

            p{
                display: none;
            }
        }
    
        .menu__button{
            display: block!important;
            height: 30px;
            width: 40px;
            padding: 0 40px 0 20px;
            box-sizing: content-box;
            align-self: center;

            path{
                fill: black;
            }
        }
    
        .header__main_buttons{
            align-items: center!important;
            justify-content: space-around!important;

            & > div{
                margin: 0;
                grid-template-rows: 100%!important;
            }

            span{
                display: none;
            }
        } 
    }

    .header__navigation_menu{
        width: 50%;
        display: inline-block;
        border-bottom: none;
        box-shadow: -2px 4px 10px 2px rgba(0, 0, 0, 0.4);
        position: fixed;
        z-index: 20;
        background-color: white;
        transform: translateX(-110%);
        transition: .5s;
        
        top:0;

        .container{
            padding: 2em;
        }

        .navigation__menu_close_button_wrapper{
            width: 90%;
            display: flex;
            margin: .4em auto;
            justify-content: flex-end;

            button{
                appearance: none;
                display: flex;
                background-color: #F94877;
                border: none;
                border-radius: 50px;
                justify-content: center;
                align-items: center;
                box-sizing: content-box;

                color:white;
                font-size: 1.2rem;
                font-family: $headerFont;
                padding: 1em .7em;
                line-height: 0;
            }
        }

        ul{
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;

            li{
                margin: .5em 0;
                font-size: 1.2rem;
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

                width: 100%;
                text-align: center;

                border-radius: 5px;
                padding: 5px 0;
            }
        }
    }

    .main__banner{
        width: 100%;

        .container{
            width: 100%;
            padding: 30px 0; 
        }

        .banner__arrows{
            width: 100%;
            left: 0;
        }

        .main__banner_wrapper{
            width: 100%;

            .banner__item{
                flex: 0 0 100%;
                width: 100%;


                img{
                    height: 20%;
                }
            }
        }
    }

    .main__products{
        width: 100%!important;

        .container{
            width: 100%;
            padding: 16px;
            box-sizing: border-box;
        }

        .main__products_slider{
            width: 100%;
            display: flex!important;
            flex-wrap: wrap;
            justify-content: center;

            column-gap: 50px!important;
            row-gap: 50px;

            .main_product{
                width: calc(50% - 32px);
            }
            
            .main__slider_price_action{
                button{
                    svg{
                        width: 32px;
                    }
                }
            }
        }

        .main__products_slider__arrows{
            display: none!important;
        }
    }

    .main__our_brands{
        width: 100%!important;

        .container{
            width: 100%;
            padding: 6px 16px 16px;
            box-sizing: border-box;
        }

        .main__brands{
            flex-direction: column!important;
            justify-content: space-between;
            padding: 0;

            img{
                width: auto;
                margin: 2em auto;
            }
        }
    }

    footer{
    
        .container{
            width: 100%;
            padding: 16px;

            a{
                font-size: 14px;
            }
        }

        .footer__top{
           display: grid;
           grid-template-columns: 2fr 1fr 1fr;
           grid-template-rows: auto auto;

           .footer__contacts{
               grid-column: 1;
               grid-row: 2;
           }

           .footer__info{
               margin: 0;
           }

           .footer__payment_type{

            img{
                margin-top: 10px;
            }
           }
        }
    }
}