body{
    margin: 0;

    background-color: #F9F9F9;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.shopping-basket-icon{
    fill: white;
    width: 21px;
    height: 21px;
}