@import "_variables";

main{
    margin-top: 30px;
}

.main__banner{
    width: 84%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    
    .main__banner_wrapper{
        width: calc(100% - 60px);
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        .swiper-pagination{
            margin-bottom: 1.8rem;
            z-index: 25;

            &-bullet{
                background-color: white;
                border: 1px solid rgba(white, .7);
            }

            &-bullet-active{
                background-color: #FC104F;
            }
        }
    }

    .banner__slide_state{
        display: flex;
        position: absolute;
        z-index: 18;
        bottom: 40px;
        left: 50%;

    }

    .container{
        width: 100%;
        height: 100%;
        padding: 30px 0 ;
        box-sizing: border-box;

        display: flex;
        transition: transform 0.6s ease;
    }

    .banner__arrows{
        width: calc(100% - 20px);
        height: 100%;
        position: absolute;
        left: 10px;
        bottom: 0;
        z-index: 15;

        display: flex;
        justify-content: space-between;

        align-items: center;

        img{
            cursor: pointer;
        }
    }

    .banner__item{
        display: flex;
        justify-content: center;

        .banner__item_inner{
            max-width: 100%;
            display: grid;
            grid-template: 1fr / repeat(4, 25%);
            column-gap: 1rem;
            justify-content: center;
            align-items: flex-end;
            padding: 0 5%;
            box-sizing: border-box;
        }

        img{
            max-width: 100%;
            justify-self: end;
        }

        p{
            font-family: $headerFont;
            font-size: 2rem;
            word-break: break-word;
            line-height: 3rem;
            font-weight: 400;
            align-self: center;

            text-transform: uppercase;
            color: #FFFFFF;

            margin: 0;
        }
    }

    .banner__slide_1{
        background-color: $firstSlideBGRColor;
    }

    .banner__slide_2{
        background-color: $secondSlideBGRColor;
    }

    .banner__slide_3{
        background-color: $thirdSlideBGRColor;
    }
}

.main__products{
    background-color: #FFFFFF;
    width: 84%;
    margin: 30px auto 0;

    .container{
        display: flex;
        width: calc(100% - 60px);
        flex-direction: column;


        header{
            width: 100%;
            box-sizing: border-box;

            font-family: $headerFont;
            border-bottom: 1px solid #c4c4c4;
            margin-bottom: 30px;

            h2{
                display: inline-block;
                font-weight: 300;
                font-size: 20px;
                margin: 0;
                padding: 30px 0 10px;
                position: relative;

                &::after{
                    content: '';
                    display: block;
                    background-color: black;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 63px;
                }
            }
        }
    }

    .main__products_slider{
        position: relative;
        padding-bottom: 30px;

        .swiper-wrapper{
            display: grid;
            grid-template-columns: repeat(6, 15.5%);
            column-gap: 1rem;
            font-weight: 300;
            font-family: $headerFont;
            font-size: 13px;
            position: relative;
        }

        & > img{
            position: absolute;
            z-index: 12;
            top: calc(100% - 20rem);

            padding: 10px;
            box-sizing: border-box;
            cursor: pointer;
            transition: .2s;
            background-color: rgba(255,255,255, 0.6);

            &:last-of-type{
                right: 0;
            }

            &:hover{
                box-sizing: border-box;
                padding: 10px;
                background-color: rgba(255,255,255, 0.8);
            }
        }

        .main_product{
            padding: .5rem;
            min-height: 434px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            cursor: pointer;

            background-color: white;

            transition: all .3s ease-in-out;

            z-index: 1;

            &:hover{
                box-shadow: 0 0 30px 1px rgba(97, 96, 96, .3);
                transform: scale(1.1);
                z-index: 5
            }

            .main__product__inner{   
                justify-self: center;
                background-color: white;
                box-sizing: border-box;
                
            }
            .main__product_type{
                min-height:380px;
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    align-self: flex-start;
                    font-weight: 400;
                    font-size: 16px;
                }
                
                span{
                    display: inline-block;
                    align-self: flex-start;
                    color: white;
                    background-color: black;
                    padding: 5px 18px;
                }
            }

            .main__slider_price_action{
                border-top: 2px solid #c4c4c4;
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding-top: 21px;

                .main__slider_price{
                    align-self: flex-end;
                    font-family: $headerFont;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;

                    .price__discount{
                        font-weight: 400;
                        text-decoration: line-through;

                        & + span{
                            color: #F44336;
                        }
                    }
                }

                button{
                    appearance: none;
                    background-color: #F94877;
                    color:white;
                    border: none;

                    display: flex;
                    align-items: center;

                    font-family: $headerFont;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 300;

                    padding: 5px 10px;

                    cursor: pointer;
                    transition: .2s;

                    &:hover{
                        background-color:#FC104F;
                    }

                    svg{
                        padding-right: 10px;
                    }

                    path{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

//   @media (min-width: 980px) {
//     .slider__item {
//       flex: 0 0 50%;
//       max-width: 50%;
//     }
//   }